---
layout: home
pageName: home
title: Home
---

<div id="home">

  <section class="first"></section>

  <section class="home">
    <div class="row">
      <div class="col-sm-12">
        <h2>Connecting People, Places & Events in the Music Industry</h2>
        <p class="subtitle">We are a global online music community that provides a suite of tools and resources that connect people, places and events in the music industry regardless of their culture, background and language.</p>
      </div>
    </div>
    
  {% include home/_hex.html %}

  </section>

  <section class="home">
    
    <div class="row">
      <div class="col-sm-12">
        <h2>What do you get as a {{site.title}} member?</h2>
        <p class="subtitle">Many tools and different levels of access to satisfy the needs of the music industry</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <h3>{{site.title}} Directory</h3>
          <div class="row">
            <div class="col-sm-12">
              <p>The {{site.title}} Directory is a search tool that let fans, musicians, promoters and other bands search our network of musicians, narrow results by location, genre and statistics, directly message bands and book the talent they're looking for.</p>        
            </div>
          </div>
      </div>
      <div class="col-sm-6">
        <h3>Integrated Messaging System</h3>
          <div class="row">
            <div class="col-sm-12">
              <p>Using {{site.title}} Messaging you can communicate with fans, promoters, and other musicians to develop your professional network, manage your band and book more shows.</p>        
            </div>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <h3>Unmatched network of opportunities</h3>
          <div class="row">
            <div class="col-sm-12">
              <p>Browse and apply to a wide array of music opportunities listed by our network of thousands of promoters seamlessly through the Sonicbids booking platform.</p>        
            </div>
          </div>
      </div>
      <div class="col-sm-6">
        <h3>My Social Calendar</h3>
          <div class="row">
            <div class="col-sm-12">
              <p>Find concerts, festivals, local events.  Find local gigs and discover new and emerging artists and performers. Create your event, post details about your event and share it with friends. </p>        
            </div>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <h3>Gig booking platform</h3>
          <div class="row">
            <div class="col-sm-12">
              <p>The {{site.title}} gig booking platform is the industry leading way for your band to apply to gigs, book shows and manage your calendar and makes booking shows as simple as clicking a button.</p>        
            </div>
          </div>
      </div>
      <div class="col-sm-6">
        <h3>Artist Metrics</h3>
          <div class="row">
            <div class="col-sm-12">
              <p>Your social statistics from Facebook, Twitter, Soundcloud, and Youtube are included in your Sonicbids EPK to help your submissions stand out against other gig applicants.</p>        
            </div>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="button"><a href="">JOIN NOW!</a></div>
      </div>
    </div>

  </section>

  <section class="home">

    <div class="row">
      <div class="col-sm-12">
        <h2>Featured In</h2>
        <p class="subtitle">The most voted by the {{site.title}} community</p>       
      </div>
    </div>

    <div class="row featured">

      <div class="col-sm-6">
        <h3>Songs</h3>
        <div class="row">
          {% for item in (1..4) %}
            <div class="col-sm-3 text-center featured-song"><a href=""><img src="http://placehold.it/75x75" alt=""><p>Title</p></a></div>
          {% endfor %}
        </div>
        <div class="row">
          {% for item in (1..4) %}
            <div class="col-sm-3 text-center featured-song"><a href=""><img src="http://placehold.it/75x75" alt=""><p>Title</p></a></div>
          {% endfor %}
        </div>        
        <div class="row">
          <div class="col-sm-12 text-left">
            <a href="{{site.app}}/songs">See more..</a>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <h3>Musicians</h3>
        <div class="row">
          {% for item in (1..4) %}
            <div class="col-sm-3 text-center featured-musician"><a href=""><img src="http://placehold.it/75x75" alt=""><p>Name</p></a></div>
          {% endfor %}
        </div>
        <div class="row">
          {% for item in (1..4) %}
            <div class="col-sm-3 text-center featured-musician"><a href=""><img src="http://placehold.it/75x75" alt=""><p>Name</p></a></div>
          {% endfor %}
        </div>        
        <div class="row">
          <div class="col-sm-12 text-left featured-musician">
            <a href="{{site.app}}/directory">See more..</a>
          </div>
        </div>        
      </div>

    </div>

  </section>

</div>

