<header class="{{ include.page }} expanded">

  <nav id="navbar">
    <ul id="navlogo">
      <li><a href="/{{ site.baseurl }}"><img src="{{ site.baseurl }}/assets/img/logo_uc_wht.png" width="230px" height="65px" alt="gigNjam logo"></li></a>
    </ul>
    <ul id="menu" class="border-animated">
      <li><a {% if page.pageName == 'fans' %} class="active" {% endif %} href="{{site.baseurl}}/fans">Fans</a></li>
      <li><a {% if page.pageName == 'musicians' %} class="active" {% endif %} href="{{site.baseurl}}/musicians">Musicians</a></li>
      <li><a {% if page.pageName == 'promoters' %} class="active" {% endif %} href="{{site.baseurl}}/promoters">Promoters</a></li>
    </ul>
    <ul id="minimenu" class="border-animated">
    	<li><div class="hamburger-menu"></div></li>
	 </ul>
    <ul id="usermenu" class="border-animated">     
    </ul>
  </nav>

  <div id="minimenubox">
  	<ul>
      <li class="separator"><a {% if page.pageName == 'home' %} class="active" {% endif %} href="{{site.baseUrl}}/">Home</a></li>
      <li><a {% if page.pageName == 'fans' %} class="active" {% endif %} href="{{site.baseurl}}/fans">Fans</a></li>
      <li><a {% if page.pageName == 'musicians' %} class="active" {% endif %} href="{{site.baseurl}}/musicians">Musicians</a></li>
      <li class="separator"><a {% if page.pageName == 'promoters' %} class="active" {% endif %} href="{{site.baseurl}}/promoters">Promoters</a></li>
      <li><a href="{{site.app}}/events">Events</a></li>
      <li><a href="{{site.app}}/directory">Directory</a></li>
      <li><a href="{{site.app}}/gigs">Gigs</a></li>
      <li><a href="{{site.app}}/songs">Songs</a></li>
      <li class="separator"><a href="">Post a Gig</a></li>
      <li><a href="{{site.app}}/signin">Sign In</a></li>
      <li><a href="{{site.app}}/signup">Join Now</a></li>
  	</ul>
  	<div id="minimenupullbutton"><div id="button"></div></div>
  </div>

</header>