<header class="expanded">

  <nav id="navbar">
    <ul id="navlogo">
      <li><a href="{{ site.baseurl }}"><img src="{{ site.baseurl }}/assets/img/logo_uc_wht.png" width="230px" height="65px" alt="gigNjam logo"></li></a>
    </ul>
     <ul id="menu">
      <li><a class="active" href="">Events</a></li>
      <li><a href="">Musicians</a></li>
      <li><a href="">Gigs</a></li>
      <li><a href="">Songs</a></li>
      <li><a href="">post a Gig</a></li>
    </ul>
    <ul id="minimenu">
    	<li><div class="hamburger-menu"></div></li>
	</ul>
    <ul id="usermenu">
      <li><a href="">Sign In</a></li>
      <li><a href="">Join Now</a></li>
    </ul>
  </nav>

  <div id="minimenubox">
  	<ul>
      <li class="separator"><a class="active" href="">Home</a></li>
      <li><a href="">Events</a></li>
      <li><a href="">Musicians</a></li>
      <li><a href="">Gigs</a></li>
      <li><a href="">Songs</a></li>
      <li class="separator"><a href="">Post a Gig</a></li>
      <li><a href="">Sign In</a></li>
      <li><a href="">Join Now</a></li>
  	</ul>
  	<div id="minimenupullbutton"><div id="button"></div></div>
  </div>

</header>