$banner-minimum-height:50px;

div#banner{
	position: relative;
	margin-top: -$header-expanded-height;
	width:50px;
	height:$banner-minimum-height;
	background:url('../img/banner-large.jpg') no-repeat center center;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;

	div#text{
		width: 700px;
    	margin-left: auto;
    	margin-right: auto;
    	padding-top: 300px;
    	text-align: center;

    	#title{
    		font-size: $h3-font-size;
    	}
    	#subtitle{
    		margin-bottom: 20px;
    	}
    	#title,#subtitle{
    		font-family: 'Jaden';
    	}
	}

	a#signup{
		background-color: #000000;
		color:white;
		padding: 5px 15px 5px 15px;
		text-decoration: none;

		&:hover{
			background-color: #333333;
			-moz-transition: background-color 0.3s;
			-webkit-transition: background-color 0.3s;
			transition: background-color 0.3s;
		}
	}

}