div#fans-content{


	section.fans{


		@media (min-width: $screen-lg-min){		
			width: 1100px;
		}
		@media (max-width: $screen-md-max){		
			width: 900px;
		}
		@media (max-width:$screen-sm-max){		
			width: 350px;
		}
	
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 50px;

		h2{
			text-align: center;
			text-transform: uppercase;
			padding-bottom: 20px;
			font-family: 'Jaden';

			@media (min-width: $screen-md-min){		
	
				position: relative;
				width:700px;
				margin-left:auto;
				margin-right:auto;

				span {
				  background: #fff;
				  padding: 0 15px;
				  position: relative;
				  z-index: 1;
				}

				&:before{
				  background: #ddd;
				  content: "";
				  display: block;
				  height: 1px;
				  position: absolute;
				  top: 50%;
				  width: 100%;
				}
				
				&:before {
				  left: 0px;
				  top:10px;
				}
			}


		}
		h3{
			text-transform: uppercase;
			text-align: center;
			color:$color-orange;
			font-size: 16px;
			font-weight: bold;
		}

		div.icon{

			width: 125px;
			height: 125px;
			display: inline-block;

			&.create-events{
				background-image: url('/assets/img/icon-create-events.png');
			}

			&.book-music{
				background-image: url('/assets/img/icon-book-music.png');
			}

			&.playlists{
				background-image: url('/assets/img/icon-playlists.png');
			}

			&.rave-rant{
				background-image: url('/assets/img/icon-rave-rant.png');
			}

			&.track{
				background-image: url('/assets/img/icon-track.png');
			}

			&.directory{
				background-image: url('/assets/img/icon-directory.png');
			}

		}

		div.events{

			margin-right: auto;
			margin-left: auto;

			div.col-xs-6{
				@media (max-width:$screen-sm-max){
					width: 165px;
					height: 160px;

				}
			}
			
			div.item{
				display: inline-block;

				@media (max-width: $screen-sm-max){

					width:150px;
					height:150px;
					margin-bottom: 5px;
					
					&.event1{
						background-image: url('/assets/img/event1-small.jpeg');	
					}
					&.event2{
						background-image: url('/assets/img/event2-small.jpeg');	
					}
					&.event3{
						background-image: url('/assets/img/event3-small.jpeg');	
					}
					&.event4{
						background-image: url('/assets/img/event4-small.jpeg');	
					}
				}

				@media (min-width: $screen-md-min){

					width:250px;
					height:250px;
				
					&.event1{
						background-image: url('/assets/img/event1.jpeg');	
					}
					&.event2{
						background-image: url('/assets/img/event2.jpeg');	
					}
					&.event3{
						background-image: url('/assets/img/event3.jpeg');	
					}
					&.event4{
						background-image: url('/assets/img/event4.jpeg');	
					}
				}				

			}

			div.item div.text{

				@media (min-width: $screen-md-min){
					padding-top: 45px;
					height: 100%;
					
					p{
						color:white;
						b{
							font-size:22px;
						}				
					}

					i.fa-plus-circle{
						font-size: 32px;
					}	
				}

				@media (max-width: $screen-xs-max){
					padding-top: 25px;
					height: 100%;

					p{
						color:white;
						margin-top: 0px;
						margin-bottom:0px;

						b{
							font-size:14px;
						}				
						font-size: 12px;
					}

					i.fa-plus-circle{
						font-size: 22px;
					}	
				}


				a{
					color:$color-light-gray;

					&:hover{
						color:white;
					}
				}



				&.on{
					visibility: visible;
					background-color: rgba(0,0,0,.6);
  					background-blend-mode: multiply;

  					transition: background-color 0.3s;
				}

				&.off{
					visibility: hidden;
				}

			}

		}

		div.talents{

			margin-right: auto;
			margin-left: auto;

			div.col-xs-6{
				@media (max-width:$screen-sm-max){
					width: 165px;
					height: 160px;

				}
			}
			
			div.item{
				display: inline-block;

				@media (max-width: $screen-sm-max){
					margin-bottom: 5px;

					width:150px;
					height:150px;		
					
					&.talent1{
						background-image: url('/assets/img/talent1-small.jpeg');	
					}

					&.talent2{
						background-image: url('/assets/img/talent2-small.jpeg');	
					}

					&.talent3{
						background-image: url('/assets/img/talent3-small.jpeg');	
					}

					&.talent4{
						background-image: url('/assets/img/talent4-small.jpeg');	
					}
				}

				@media (min-width: $screen-md-min){

					width:250px;
					height:250px;		
					
					&.talent1{
						background-image: url('/assets/img/talent1.jpeg');	
					}

					&.talent2{
						background-image: url('/assets/img/talent2.jpeg');	
					}

					&.talent3{
						background-image: url('/assets/img/talent3.jpeg');	
					}

					&.talent4{
						background-image: url('/assets/img/talent4.jpeg');	
					}
				}				

			}

			div.item div.text{

				@media (min-width: $screen-md-min){
					padding-top: 45px;
					height: 100%;
					
					p{
						color:white;
						b{
							font-size:22px;
						}				
					}

					i.fa-plus-circle{
						font-size: 32px;
					}	
				}

				@media (max-width: $screen-xs-max){
					padding-top: 25px;
					height: 100%;

					p{
						color:white;
						margin-top: 0px;
						margin-bottom:0px;

						b{
							font-size:14px;
						}				
						font-size: 12px;
					}

					i.fa-plus-circle{
						font-size: 22px;
					}	
				}
				a{
					color:$color-light-gray;

					&:hover{
						color:white;
					}
				}

				&.on{
					visibility: visible;
					background-color: rgba(0,0,0,.6);
  					background-blend-mode: multiply;

  					transition: background-color 0.3s;
				}

				&.off{
					visibility: hidden;
				}

			}

		}		

		div#testimony-pictures{
			padding-bottom: 40px;

			img{
				margin-left: 10px;
				margin-right: 10px;
				border-radius: 75px;
				opacity: 0.6;
				-moz-transition:opacity 0.3s;
				-webkit-transition:opacity 0.3s;
				transition:opacity 0.3s;

				&:hover{
					cursor:pointer;
					opacity:1;
					-moz-transition:opacity 0.3s;
					-webkit-transition:opacity 0.3s;
					transition:opacity 0.3s;
				};
			}
		}

		div#testimony-content{
			p#text-2,p#text-3{
				display: none;
			}
		}

		div.button{
			padding-top: 20px;
		}

		div.button a{  		
  			color:white;
  			background-color: $orange;
  			font-size:16px;

  			&:hover{
  				background-color:$menu-link-color-light;
  				color:white;
  			}

  		}
		
	}

	div.dark{
		background-color: $dark-brown;
	}

	div.people-party{
		background: url(/assets/img/bg-people-party.png) right bottom no-repeat $dark-brown;
	}

}