div#fans-content{
	margin-top:20px;

	section.fans{

		width: 1100px;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 50px;

		&.full{

			padding-left: 30px;
			padding-right: 30px;

			h3{
				color:$color-orange;
			}

			div{
				padding-left: 0px;
				padding-right: 0px;
			}
		}

		&.white{
			background-color: white;
		}

		h2{
			text-align: center;
			text-transform: uppercase;
			padding-bottom: 20px;
			font-family: 'Jaden';
		}
		h3{
			text-transform: uppercase;
			text-align: center;
			color:#555555;
			font-size: 16px;
			font-weight: bold;
		}

		div.icon{

			width: 125px;
			height: 125px;
			display: inline-block;

			&.create-events{
				background-image: url('/assets/img/icon-create-events.png');
			}

			&.book-music{
				background-image: url('/assets/img/icon-book-music.png');
			}

			&.playlists{
				background-image: url('/assets/img/icon-playlists.png');
			}

			&.rave-rant{
				background-image: url('/assets/img/icon-rave-rant.png');
			}

			&.track{
				background-image: url('/assets/img/icon-track.png');
			}

			&.directory{
				background-image: url('/assets/img/icon-directory.png');
			}

		}

		div.events{
			
			div.item{
				display: inline-block;
				width:200px;
				height:200px;
				
				&.event1{
					background-image: url('/assets/img/event1.jpeg');	
				}
				&.event2{
					background-image: url('/assets/img/event2.jpeg');	
				}
				&.event3{
					background-image: url('/assets/img/event3.jpeg');	
				}
				&.event4{
					background-image: url('/assets/img/event4.jpeg');	
				}

			}

			div.item div.text{

				padding-top: 50px;
				height: 100%;
				
				p{
					color:white;
				}

				&.on{
					visibility: visible;
					background-color: rgba(0,0,0,.6);
  					background-blend-mode: multiply;

  					transition: background-color 0.3s;
				}

				&.off{
					visibility: hidden;
				}

			}

		}

		div.talents{
			
			div.item{
				display: inline-block;
				width:200px;
				height:200px;
					
				&.talent1{
					background-image: url('/assets/img/talent1.jpeg');	
				}

				&.talent2{
					background-image: url('/assets/img/talent2.jpeg');	
				}

				&.talent3{
					background-image: url('/assets/img/talent3.jpeg');	
				}

				&.talent4{
					background-image: url('/assets/img/talent4.jpeg');	
				}

			}

			div.item div.text{


				padding-top: 50px;
				height: 100%;
				
				p{
					color:white;
				}				

				&.on{
					visibility: visible;
					background-color: rgba(0,0,0,.6);
  					background-blend-mode: multiply;

  					transition: background-color 0.3s;
				}

				&.off{
					visibility: hidden;
				}

			}

		}		

		div#testimony-pictures{
			padding-bottom: 40px;

			img{
				margin-left: 10px;
				margin-right: 10px;
				border-radius: 75px;
				opacity: 0.6;
				-moz-transition:opacity 0.3s;
				-webkit-transition:opacity 0.3s;
				transition:opacity 0.3s;

				&:hover{
					cursor:pointer;
					opacity:1;
					-moz-transition:opacity 0.3s;
					-webkit-transition:opacity 0.3s;
					transition:opacity 0.3s;
				};
			}
		}

		div#testimony-content{
			p#text-2,p#text-3{
				display: none;
			}
		}

		div.button{
			padding-top: 20px;
		}

		div.button a{  		
  			color:white;
  			background-color: $color-orange;
  			font-size:16px;

  			&:hover{
  				background-color:$color-blue;
  				color:white;
  			}

  		}
		
	}

	div.dark{
		background-color: $dark-brown;
	}

	div.people-party{
		background: url(/assets/img/bg-people-party.png) right bottom no-repeat $dark-brown;
	}

}