
@font-face {
  font-family: 'Jaden';
  src: url('../fonts/Jaden.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Jaden.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Jaden.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Jaden.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Jaden.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Jaden.svg#svgFontName') format('svg'); /* Legacy iOS */
}


$font-light: 300;
$font-medium: 500;
$font-bold: 700;

$h1-font-size: 40px;
$h2-font-size: 24px;
$h3-font-size: 15px;

$orange:#DB4D21;


html,body{
	font-family: 'Work Sans', sans-serif;
}

div#banner{
  h1,h2,h3,h4,h5,h6{
  	color:white;
  }
}

section{
  h1,h2,h3,h4,h5,h6{
    color:$orange;
  }

}


h1 {font-size: $h1-font-size;}
h2 {font-size: $h2-font-size;}
h3 {font-size: $h3-font-size;}
p,ul{
	color:$black;
	font-weight: $font-light;
}
p.subtitle{
  color:#bbbbbb;
}





