$h2-border-color:#75573E;


section.hex{
	padding-left: 10px;
	padding-right: 10px;
	margin-top:-30px;

	div.row{
		//width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}

	div#hex-first div.col-sm-12{
		margin-bottom: -70px;
	}

}

div#home{

	section.home{
		
		width: 1100px;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 50px;

		&.dark{
			background-color: $dark-brown;
		}

		div#testimony-pictures{
			padding-bottom: 40px;

			img{
				border-radius: 75px;
				opacity: 0.6;
				-moz-transition:opacity 0.3s;
				-webkit-transition:opacity 0.3s;
				transition:opacity 0.3s;

				&:hover{
					cursor:pointer;
					opacity:1;
					-moz-transition:opacity 0.3s;
					-webkit-transition:opacity 0.3s;
					transition:opacity 0.3s;
				};
			}
		}

		div#testimony-content{
			p#text-2,p#text-3{
				display: none;
			}
		}



		h2{
			text-align: center;
			text-transform: uppercase;
			padding-bottom: 30px;
			font-family: 'Jaden';
		}
		h3{
			text-transform: uppercase;
			
			&:before{
				content:'';
				position: absolute;
				height: $h3-font-size;
				width:5px;
				left:0px;
				background-color: $menu-link-color;
			}
		}
		p.subtitle{
			margin-top: 0px;
			color:#bbbbbb;
		}
	
		div.home-tools{

			padding-bottom: 30px;
			
			i.fa{
				font-size: 30px;
				color:$brown;
				padding:30px;		
				border:1pt solid black;
				border-color:white;
				border-radius: 45px;
				margin-bottom: 5px;
				background-color: white;
			}
			div.text{
				color:white;
			}
		}


		div.explore{

			padding-bottom: 5px;

			div.item{
				width: 200px;
				height: 200px;
				display:inline-block;
				text-transform: uppercase;
				background-color: rgba(0,0,0,.6);
  				background-blend-mode: multiply;

  				&:hover{
  					background-color:rgba(0,0,0,.3);
  					transition: background-color 0.2s;

  					p{
  						color:white;
  					}
  				}

				&.festivals{
					background-image: url(/assets/img/home-festivals.jpg);
				}
				&.concerts{
					background-image: url(/assets/img/home-concerts.jpg);
				}
				&.college-music{
					background-image: url(/assets/img/home-college-music.jpg);
				}
				&.gigs{
					background-image: url(/assets/img/home-gigs.jpg);
				}
				&.indie{
					background-image: url(/assets/img/home-indie.jpg);
				}
				&.pop{
					background-image: url(/assets/img/home-pop.jpg);
				}
				&.country{
					background-image: url(/assets/img/home-country.jpg);
				}
				&.alternative{
					background-image: url(/assets/img/home-alternative.jpg);
				}

				p{
					font-size: 20px;
					font-weight: $font-medium;
					color:$color-light-gray;
				}

			}
		}


	}
	
	section.full{
		background-color: white;
		padding-bottom: 30px;
		margin-top:20px;
		margin-bottom:0px;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;

		h2{
			color:$orange;
			padding-bottom: 0px;
			margin-top: 40px;
			margin-bottom:40px;
		}
	}

	section.ready-to-explore{
		width: 100%;
		background-image: url(/assets/img/readytoexplore.jpg);
		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;	

  		h2{
  			color:white;
  			padding-top: 25px;
  			padding-bottom: 0px;
  			margin-bottom: 0px;
  		}

  		div.button a{
  			background-color: transparent;
  			color:white;
  			border: 1pt solid white;
  			font-size:22px;
  		}

	}

	section.testimonial{
		background-color: white;
		
		p{
			font-size: 16px;
		}
	}

}


div#fans,div#musicians,div#promoters{
	width: 300px;
	height: 347px;
	margin-right: 5px;
	margin-left: 5px;
	display: inline-block;

	&.right{
		float:right;
		margin-right: 50px;
	}
	&.left{
		float:left;
		margin-left: 50px;
	}

	&:hover{
		-moz-transition: opacity 0.3s;
		-webkit-transition: opacity 0.3s;
		transition: opacity 0.3s;
	}

	div.back{
		position: relative;
		height: 100%;

		div.text{
			margin-top: 60px;
			padding-left:5px;
			padding-right:5px;
			height: 160px;
			color:$color-light-gray;

			h3{
				font-size:24px;
				text-transform: uppercase;
				color:$color-orange;
				&:before{
					content:none;
				}
			}
			ul{
				text-align: left;
				font-weight: $font-light;
				font-size: 16px;
				color:white;
			}
		}

		div.button{
			a{
				background-color: white;
				color:#0855B2;

				&:hover{
					background-color:$color-orange;
				}
			}
		}

	}
}

div.button{
 	padding-top: 40px;
	text-align: center;
	a{
		background-color: $orange;
		color:#ffffff;
		padding: 10px 20px 10px 20px;
		text-decoration: none;
		text-transform: uppercase;

		&:hover{
			background-color:$menu-link-color-light;
			-moz-transition: background-color 0.3s;
			-webkit-transition: background-color 0.3s;
			transition: background-color 0.3s;
		}
	}
}

div#fans{
	div.front{
		background: url(../img/hex-fans.png) center center no-repeat;
	}
	div.back{
		background: url(../img/hex_black.png) center center no-repeat;
	}
}

div#musicians{
	div.front{
		background: url(../img/hex-musician.png) center center no-repeat;
	}
	div.back{
		background: url(../img/hex_black.png) center center no-repeat;
	}
}
div#promoters{
	div.front{
		background: url(../img/hex-venue.png) center center no-repeat;
	}
	div.back{
		background: url(../img/hex_black.png) center center no-repeat;
	}
}
