$h2-border-color:#75573E;


section.hex{
	padding-left: 10px;
	padding-right: 10px;
	margin-top:0px;
	margin-top: 20px;
	margin-bottom: -60px; // Required when using a sencond row
	margin-bottom: 40px;

	div.row{
		width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}

	div#hex-first div.col-sm-12{
		margin-bottom: -70px;
	}

}

div#home{

	section.home{
		
		width: 1000px;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 50px;

		&.dark{
			background-color: $dark-brown;
		}

		div#testimony-pictures{
			padding-bottom: 40px;

			img{
				margin-left: 10px;
				margin-right: 10px;
				border-radius: 75px;
				opacity: 0.6;
				-moz-transition:opacity 0.3s;
				-webkit-transition:opacity 0.3s;
				transition:opacity 0.3s;

				&:hover{
					cursor:pointer;
					opacity:1;
					-moz-transition:opacity 0.3s;
					-webkit-transition:opacity 0.3s;
					transition:opacity 0.3s;
				};
			}
		}

		div#testimony-content{
			p#text-2,p#text-3{
				display: none;
			}
		}



		h2{
			text-align: center;
			text-transform: uppercase;
			padding-bottom: 30px;
			font-family: 'Jaden';
			text-shadow:1px 1px  black;
		}
		h3{
			text-transform: uppercase;
			
			&:before{
				content:'';
				position: absolute;
				height: $h3-font-size;
				width:5px;
				left:0px;
				background-color: $menu-link-color;
			}
		}
		p.subtitle{
			margin-top: 0px;
			color:#bbbbbb;
		}

		div#testimony-pictures{
			padding-bottom: 40px;

			img{
				padding-left: 10px;
				padding-right: 10px;
			}
		}
		
		div.home-tools{

			padding-bottom: 30px;
			
			i.fa{
				font-size: 30px;
				color:$brown;
				padding:30px;		
				border:1pt solid black;
				border-color:white;
				border-radius: 45px;
				margin-bottom: 5px;
				background-color: white;
			}
			div.text{
				color:white;
			}
		}


		div.explore{
			div.item{
				width: 200px;
				height: 200px;
				display:inline-block;
				background-image: url(/assets/img/festival.jpg);
				color:white;

				p{
					font-size: 20px;
					font-weight: $font-medium;
				}

			}
		}


	}

}


div#fans,div#musicians,div#howitworks,div#promoters,div#events{
	width: 280px;
	height: 324px;

	//width: 180px;
	//height: 224px;

	margin-right: 5px;
	margin-left: 5px;
	display: inline-block;

	&.right{
		float:right;
		margin-right: 50px;
	}
	&.left{
		float:left;
		margin-left: 50px;
	}

	&:hover{
		-moz-transition: opacity 0.3s;
		-webkit-transition: opacity 0.3s;
		transition: opacity 0.3s;
	}

	div.title{
		padding-top: 210px;
		font-size: 20px;
		font-family: 'Jaden';
		color:$brown;
		text-align: center;
	}

	

	div.front{
		height: 100%;
	}
	div.back{
		position: relative;
		height: 100%;

		div.text{
			margin-top: 70px;
			padding-left:5px;
			padding-right:5px;
			height: 150px;
			color:#ffffff;

			h3{
				font-size:24px;
				text-transform: uppercase;
				color:$menu-link-color;
				&:before{
					content:none;
				}
			}
			ul{
				text-align: left;
				font-weight: $font-light;
			}
		}

	}
}

div.button{
 	padding-top: 20px;
	text-align: center;
	a{
		background-color: $menu-link-color;
		color:#ffffff;
		border: 1pt solid #ffffff;
		padding: 10px 20px 10px 20px;
		text-decoration: none;

		&:hover{
			background-color:$menu-link-color-light;
			-moz-transition: background-color 0.3s;
			-webkit-transition: background-color 0.3s;
			transition: background-color 0.3s;
		}
	}
}

div#fans{
	div.front{
		background: url(../img/hex_fans-white.png) center center no-repeat;
	}
	div.back{
		background: url(../img/hex_black.png) center center no-repeat;
	}
}

div#musicians{
	div.front{
		background: url(../img/hex_musicians-white.png) center center no-repeat;
	}
	div.back{
		background: url(../img/hex_black.png) center center no-repeat;
	}
}
div#howitworks{

	div.front{
		background: url(../img/hex_how_it_works.png) center center no-repeat;
	}
	div.back{
		background: url(../img/hex_black.png) center center no-repeat;
	}
}
div#promoters{
	div.front{
		background: url(../img/hex_promoters-white.png) center center no-repeat;
	}
	div.back{
		background: url(../img/hex_black.png) center center no-repeat;
	}
}
div#events{
	div.front{
		background: url(../img/hex_events.png) center center no-repeat;
	}
	div.back{
		background: url(../img/hex_black.png) center center no-repeat;
	}
}