#musicians-content{

	section.musicians{

		margin-left: auto;
		margin-right: auto;

		@media (min-width: $screen-md-min){		
			padding-bottom: 50px;
		}

		@media (min-width: $screen-lg-min){		
			width: 1100px;
		}
		@media (max-width: $screen-md-max){		
			width: 900px;
		}
		@media (max-width:$screen-sm-max){		
			width: 350px;
		}

		div.narrow{
			padding-left: 50px;
			padding-right: 50px;
			p{
				font-size:22px;
			}
		}

		div.icon{

			width: 125px;
			height: 125px;
			display: inline-block;

			&.get-noticed{
				background-image: url('/assets/img/icon-get-noticed.png');
			}

			&.connect{
				background-image: url('/assets/img/icon-connect.png');
			}

			&.promote{
				background-image: url('/assets/img/icon-promote.png');
			}

			&.be-heard{
				background-image: url('/assets/img/icon-be-heard.png');
			}

		}

		div.steps{

			div{
				width: 125px;
				height: 125px;
				display: inline-block;
			}

			div.find-gig{
				background-image: url('/assets/img/icon-drums.png');
			}
			div.apply-online{
				background-image: url('/assets/img/icon-envelope.png');
			}

			div.add-gig{
				background-image: url('/assets/img/icon-ipod.png');
			}

			div.share-invite{
				background-image: url('/assets/img/icon-headphone.png');
			}

			h3{
				color:#555555;
			}

		}

		div.featured{
			a{
				color:white;
				text-decoration: none;

				&:hover{
					color:$menu-link-color;
					text-decoration: none;
					-moz-transition:color 0.3s;
					-webkit-transition:color 0.3s;
					transition:color 0.3s;
				};
			}
			div.featured-musician{
				opacity: 0.6;

				&:hover{
					opacity:1;
					-moz-transition:opacity 0.3s;
					-webkit-transition:opacity 0.3s;
					transition:opacity 0.3s;					
				}
			}
		}
		
		h2{
			text-align: center;
			text-transform: uppercase;
			padding-top: 20px;
			padding-bottom: 20px;
			font-family: 'Jaden';
		}
		h3{
			text-transform: uppercase;
			color:$color-orange;
			font-size: 16px;	
			font-weight: bold;	
			text-align: center;	
		}
	
		div#testimony-pictures{
			padding-bottom: 40px;

			img{
				margin-left: 10px;
				margin-right: 10px;
				border-radius: 75px;
				opacity: 0.6;
				-moz-transition:opacity 0.3s;
				-webkit-transition:opacity 0.3s;
				transition:opacity 0.3s;

				&:hover{
					cursor:pointer;
					opacity:1;
					-moz-transition:opacity 0.3s;
					-webkit-transition:opacity 0.3s;
					transition:opacity 0.3s;
				};
			}
		}

		div#testimony-content{
			p#text-2,p#text-3{
				display: none;
			}
		}

		&.find-apply{
			img.border{
			}

			h3{				
				margin: 15px 25px 0px 25px;
				padding-top: 20px;
				border-top:4pt solid $menu-link-color;

				&:before{
					content: none;
				}
			}

		}
		
	}

	
	section.increase-tickets{
		width: 100%;
		background-image: url(/assets/img/readytoexplore.jpg);
		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;	

  		h2{
  			color:white;
  			padding-top: 25px;
  			padding-bottom: 0px;
  			margin-bottom: 0px;
  		}

  		div.button a{
  			background-color: transparent;
  			color:white;
  			border: 1pt solid white;
  			font-size:22px;
  		}

	}

	div.light{
		background-color: $light-black;
	}

	section.guitar-singer{
		background: url('/assets/img/girl-guitar.png') right 100px no-repeat;
	}

	
}