div#musicians-content{
	margin-top:-185px;
	//margin-bottom: -60px;

	section.musicians{

		width: 1000px;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 50px;

		h2{
			text-align: center;
			text-transform: uppercase;
			padding-top: 20px;
			padding-bottom: 20px;
			font-family: 'Jaden'
		}
		h3{
			text-transform: uppercase;
			
			&:before{
				content:'';
				position: absolute;
				height: $h3-font-size;
				width:5px;
				left:0px;
				background-color: $menu-link-color;
			}
		}

		div#testimony-pictures{
			padding-bottom: 40px;

			img{
				padding-left: 10px;
				padding-right: 10px;
			}
		}
		
	}
	div.light{
		background-color: $light-black;
	}

	section.guitar-singer{
		background: url('/assets/img/girl-guitar.png') right 100px no-repeat;
	}

}