<div id="banner" class="promoters">
	<div class="animated fadeInDown">	
		<div id="text" class="row">
			<div class="col-sm-12">
				<h1 id="title">REACH MORE FANS.PACK THE HOUSE.</h1>
		
				<div class="row visible-md-inline visible-lg-inline">
					<div class="col-md-12 col-lg-12">
						<a href="{{ site.app }}/musician/book" id="signup" class="orange">JOIN AS A VENUE</a>
						<a href="{{ site.app }}/venue/book" id="signup" class="orange last">JOIN AS PROMOTER</a>
					</div>
				</div>			

				<div class="row visible-xs-inline visible-sm-inline">
					<div class="col-xs-12 col-sm-12">
						<a href="{{ site.app }}/musician/book" id="signup" class="orange">JOIN AS A VENUE</a>
					</div>
				</div>
				<div class="row visible-xs-inline visible-sm-inline">
					<div class="col-xs-12 col-sm-12">
						<a href="{{ site.app }}/venue/book" id="signup" class="orange">JOIN AS PROMOTER</a>
					</div>
				</div>			
			</div>
		</div>
	</div>
</div>