---

---

$screen-sm-min: 600px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);

$brown: #89664A;
$dark-brown: #644b28;
$black: #000000;
$light-black: #333333;



// Colors defined by style

$color-black: #282828;
$color-orange: #DB4D21;
$color-dark-orange:#DB5F21;
$color-cream: #CEC8B2;
$colo-light-cream: #E2DEC9;
$color-dark-gray: #666666;
$color-gray: #808080;
$color-light-gray: #B3B3B3;
$color-blue: #0855B2;


@import 'fonts';
@import 'header';
@import 'banner';
@import 'footer';
@import 'home';
@import 'fans';
@import 'musicians';
@import 'misc';
@import 'promoters';

html{
	overflow-x: hidden;
}

body.home,body.fans, body.musicians,body.promoters, body.misc{
	background-color: transparent;
	background-image: url(/assets/img/background_lightgrey.jpg);
	overflow-x: hidden;
}

section{
	padding-top: 20px;
	
	padding-bottom: 20px;
	overflow-x: hidden;

	h2{
		margin-top: 0px;
		padding-bottom: 20px;
	}

	div.text{
		p{
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}



section.full{
	background-color: white;
	padding-bottom: 30px;
	//margin-top:20px;
	margin-bottom:0px;
	
	border:solid $color-light-gray;
	border-width:0pt 1pt 0pt 1pt;

	//border-top-left-radius: 15px;
	//border-top-right-radius: 15px;

	h2{
		color:$orange;
		padding-bottom: 0px;
		margin-top: 40px;
		margin-bottom:40px;
	}
}

section.white{
	background-color: white;
	border:solid $color-light-gray;
	border-width:0pt 1pt 0pt 1pt;
}
section.dark{
	padding-left: 10px;
	padding-right: 10px;
	background-color: #444444;
	border:solid $color-light-gray;
	border-width:0pt 1pt 0pt 1pt;

	h2{
		color:white;
	}

	h3{
		color:white !important;
		padding-top: 10px;
		border-top:2pt solid $orange;
		width: 200px;
		margin-right:auto;
		margin-left: auto;
	}

	div.button a{
		border:1pt solid $orange;
		background-color: transparent;
		color:$orange;

		&:hover{
			color:#444444;
			background-color:white;
			border:1pt solid white;
		}
	}

}

section.ready-to-explore{
	width: 100%;
	background-image: url(/assets/img/readytoexplore.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
	margin-top: 0px;
	padding-top: 75px;
	padding-bottom: 75px;

	h2{
		color:white;
		padding-bottom: 0px;
		margin-bottom: 0px;
		text-align: center;
	}

	div.button a{
		background-color: transparent;
		color:white;
		border: 1pt solid white;
		font-size:22px;

		&:hover{
			background-color:white;
			color:$color-gray;
			-webkit-transition:background-color 0.3s;
			-moz-transition:background-color 0.3s;
			transition:background-color 0.3s;
		}
	}
}

video:hover{
	cursor:pointer;
}