---

---

$screen-sm-min: 600px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);

$brown: #89664A;
$dark-brown: #644b28;
$black: #000000;
$light-black: #333333;

@import 'fonts';
@import 'header';
@import 'banner';
@import 'footer';
@import 'home';
@import 'fans';
@import 'musicians';
@import 'misc';

html{
	overflow-x: hidden;
}

body.home, body.fans, body.misc{
	background-color: $brown;
}

body.musicians{
	background-color: $black;	
}


p{
	&.subtitle{
		text-align: center;
		margin-top: 0px;
		margin-bottom: 40px;
		font-size: $h2-font-size;
	}
}

