---

---

$screen-sm-min: 600px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);

$brown: #89664A;
$dark-brown: #644b28;
$black: #000000;
$light-black: #333333;



// Colors defined by style

$color-black: #282828;
$color-orange: #DB4D21;
$color-dark-orange:#DB5F21;
$color-cream: #CEC8B2;
$colo-light-cream: #E2DEC9;
$color-dark-gray: #666666;
$color-gray: #808080;
$color-light-gray: #B3B3B3;
$color-blue: #0855B2;


@import 'fonts';
@import 'header';
@import 'banner';
@import 'footer';
@import 'home';
@import 'fans';
@import 'musicians';
@import 'misc';
@import 'promoters';

html{
	overflow-x: hidden;
}

body.home, body.fans, body.musicians,body.promoters, body.misc{
	background-color: #eeeeee;
	background-image: url(/assets/img/background-pattern.png);
}

p{
	&.subtitle{
		text-align: center;
		margin-top: 0px;
		margin-bottom: 40px;
		font-size: $h2-font-size;
	}
}

div.photo-icons{
	
	i.fa{
		font-size: 30px;
		color:$brown;
		padding:20px;		
		border:1pt solid black;
		border-color:white;
		border-radius: 35px;
		background-color: white;
	}

	&.black{

		i.fa{
			color:black;
		}
	}
}