<div id="banner" class="musicians">
	<div class="animated fadeInDown">
		<div id="text" class="row">
			<div class="col-sm-12">
				<h1 id="title">Unleash your music talent!</h1>

				
				<div class="row visible-md-inline visible-lg-inline">
					<div class="col-md-12 col-lg-12">
						<a href="{{ site.app }}/musician/book" id="signup" class="orange">JOIN AS A MUSICIAN!</a>
						<a href="{{ site.app }}/venue/book" id="signup" class="orange last">JOIN AS AGENCY!</a>
					</div>
				</div>

				<div class="row visible-xs-inline visible-sm-inline">
					<div class="col-xs-12 col-sm-12">
						<a href="{{ site.app }}/musician/book" id="signup" class="orange">JOIN AS A MUSICIAN!</a>
					</div>
				</div>
				<div class="row visible-xs-inline visible-sm-inline">
					<div class="col-xs-12 col-sm-12">
						<a href="{{ site.app }}/venue/book" id="signup" class="orange">JOIN AS AGENCY!</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>