---
layout: fans
pageName: fans
title: Fans
---

<div id="fans-content">
	
	<section class="fans">

		<div class="row">

			<div class="col-sm-2">
				<div class="row">
					<div class="col sm-12">
						<h3>Create Events</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 photo-icons"><i class="fa fa-calendar"></i></div>
				</div>
			</div>

			<div class="col-sm-2">
				<div class="row">
					<div class="col sm-12">
						<h3>Book Live Music</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 photo-icons"><i class="fa fa-calendar"></i></div>
				</div>
			</div>

			<div class="col-sm-2">
				<div class="row">
					<div class="col sm-12">
						<h3>Playlists</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 photo-icons"><i class="fa fa-calendar"></i></div>
				</div>
			</div>


			<div class="col-sm-2">
				<div class="row">
					<div class="col sm-12">
						<h3>Rave & Rant</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 photo-icons"><i class="fa fa-calendar"></i></div>
				</div>
			</div>

			<div class="col-sm-2">
				<div class="row">
					<div class="col sm-12">
						<h3>Track Your Faves</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 photo-icons"><i class="fa fa-calendar"></i></div>
				</div>
			</div>

			<div class="col-sm-2">
				<div class="row">
					<div class="col sm-12">
						<h3>Directory</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 photo-icons"><i class="fa fa-calendar"></i></div>
				</div>
			</div>


	</section>


	<section class="fans">		
		<div class="row">
			<div class="col-sm-12">
				<h2>Explore Live Music</h2>
			</div>
		</div>
	</section>


	<section class="fans">
		<div class="row events">
			<div class="col-md-12 text-center">
				{% for item in (1..4) %}
					<div class="item">
						<div class="text off">
							<p class="name">Event Name</p>
							<p class="date">Mar 24-23, 2016</p>
							<p class="venue">Venue Name</p>
							<p class="address">City, State/Country</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="button">
					<a href="{{ site.app }}/events" id="browseevents" class="black">BROWSE EVENTS</a>
				</div>
			</div>
		</div>
	</section>

	<section class="fans">
		<div class="row">
			<div class="col-sm-12">
				<h2>Discover Talents</h2>
			</div>
		</div>
	</section>

	<section class="fans">
		<div class="row talents">
			<div class="col-md-12 text-center">
				{% for item in (1..4) %}
					<div class="item">
						<div class="text off">
							<p class="name">Artist Name</p>
							<p class="date">Pop, Alternative</p>
							<p class="venue">Singer songwriter</p>
							<p class="address">City, State/Country</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="button">
					<a href="{{ site.app }}/events" id="browseevents" class="black">BROWSE ARTISTS</a>
				</div>
			</div>
		</div>
	</section>



	<section class="fans">
		<div class="row">
			<div class="col-sm-12">
				<h2>EXPLORE. DISCOVER. ENGAGE.</h2>
				<div class="button">
					<a href="{{ site.app }}/signup" id="signup" class="black">LET'S GO! IT'S FREE!</a>
				</div>
	        </div>
		</div>
	</section>

</div>

