<div id="banner" class="fans">
	<div class="animated fadeInDown">
		<div id="text" class="row">
			<div class="col-sm-12">
				<h1 id="title">EXPLORE & ENGAGE</h1>
				<h2 id="subtitle">Experience GIG-N-JAM online music community</h2>
				<a href="{{ site.app }}/signup" id="signup" class="orange">JOIN NOW!</a>
			</div>
		</div>
		<div id="go-down" class="row animated infinite pulse">
			<div class="col-sm-12 text-center">
				<a href="" class="learn-more"><i class="fa fa-arrow-circle-o-down"></i></a>
			</div>
		</div>
	</div>
</div>