<div id="banner" class="fans">
	<div class="animated fadeInDown">
		<div id="text" class="row">
			<div class="col-sm-12">
				<h1 id="title">Entertain Your Guests.</h1>
				<h1 id="title">Make it memorable.</h1>
				
				<div class="row visible-md-inline visible-lg-inline">
					<div class="col-md-12 col-lg-12">
						<a href="{{ site.app }}/musician/book" id="signup" class="orange">BOOK PERFORMER</a>
						<a href="{{ site.app }}/venue/book" id="signup" class="orange last">BOOK VENUE</a>
					</div>
				</div>

				<div class="row visible-xs-inline visible-sm-inline">
					<div class="col-xs-12 col-sm-12">
						<a href="{{ site.app }}/musician/book" id="signup" class="orange">BOOK PERFORMER</a>
					</div>
				</div>
				<div class="row visible-xs-inline visible-sm-inline">
					<div class="col-xs-12 col-sm-12">				
						<a href="{{ site.app }}/venue/book" id="signup" class="orange">BOOK VENUE</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>