<div class="banner-options">
	<div class="col-sm-4 option-box">
		<div class="content">
			<h3>I follow musicians</h3>
			<ul>
				<li>I want more gigs</li>
				<li>I want industry exposure</li>
				<li>My band needs professional EPK</li>
				<li>I want to network with other musicians</li>
			</ul>
		</div>
		<div class="button">
			<a href="{{site.app}}/signup">Get started</a>
		</div>
	</div>
	<div class="col-sm-4 option-box">
		<div class="content">
			<h3>I'm a musician</h3>
			<ul>
				<li>I want more gigs</li>
				<li>I want industry exposure</li>
				<li>My band needs professional EPK</li>
				<li>I want to network with other musicians</li>
			</ul>
		</div>
		<div class="button">
			<a href="{{site.app}}/signup">Get started</a>
		</div>
	</div>
	<div class="col-sm-4 option-box">
		<div class="content">
			<h3>I book musicians</h3>
			<ul>
				<li>I want to find great talent</li>
				<li>I need to advertise playing oportunities</li>
				<li>I need help with booking</li>
			</ul>
		</div>
		<div class="button">
			<a href="{{site.app}}/signup">Get started</a>
		</div>
	</div>

</div>