<section class="hex">
  
  <div id="hex-first" class="row">
   
    <div class="col-sm-12 text-center">

      <div id="fans" class="flip">
        <div class="front">
          <div class="title">I follow musicians</div>
        </div>        
        <div class="back">
          <div class="text">
           <h3>FANS</h3>
              <ul>
                <li>Find awesome music.</li>
                <li>Discover breakout artists.</li>
                <li>Follow artists and events.</li>
                <li>Hire musicians for my events.</li>
              </ul>
            </div>
          <div class="button"><a href="{{ site.baseurl }}/fans">Learn More</a></div>
        </div>      
      </div>

      <div id="musicians" class="flip">
        <div class="front">
          <div class="title">I'm a Musician</div>
        </div>
        <div class="back">
          <div class="text">
            <h3>MUSICIANS</h3>
            <ul>
              <li>Find and apply for gigs.</li>
              <li>Promote my band to fans, promoters and labels.</li>
              <li>Manage and publish tour schedule.</li>
              <li>Connect with fans and musicians.</li>
            </ul>
          </div>
          <div class="button"><a href="{{ site.baseurl }}/musicians">Learn More</a></div>
        </div>      
      </div>

      <div id="promoters" class="flip">
        <div class="front">
          <div class="title">I book Musicians</div>
        </div>
        <div class="back">
          <div class="text">
            <h3>PROMOTERS</h3>
            <ul>
              <li>Post gigs and performance opportunities.</li>
              <li>Manage postings and applications.</li>
              <li>Find talents.</li>
              <li>Promote multiple events/venues in one place.</li>
            </ul>
          </div>
          <div class="button"><a href="{{ site.baseurl }}/promoters">Learn More</a></div>
        </div>      
      </div>

    </div>

  </div>

  {% comment %}
  <div id="hex-second" class="row">

    <div class="col-sm-12 text-center">

      <div id="howitworks" class="flip">
        <div class="front">
          <div class="title">HOW IT WORKS</div>
        </div>
        <div class="back">
          <div class="text">
            
          </div>
          <div class="button"><a href="{{ site.baseurl }}/how-it-works">Learn More</a></div>
        </div>      
      </div>


      <div id="events" class="flip">
        <div class="front">
          <div class="title">EVENTS</div>
        </div>
        <div class="back">
          <div class="text">
            
          </div>          
           <div class="button"><a href="{{ site.baseurl }}/events">Learn More</a></div>
        </div>      
      </div>

    </div>

  </div>


   <div id="hex-second" class="row">

    <div class="col-sm-12 text-center">

      <div id="howitworks" class="flip">
        <div class="front">
          <div class="title">HOW IT WORKS</div>
        </div>
        <div class="back">
          <div class="text">
            
          </div>
          <div class="button"><a href="{{ site.baseurl }}/how-it-works">Learn More</a></div>
        </div>      
      </div>

    </div>

  </div>

 {% endcomment %}

</section>