<div class="row">
      <div class="col-sm-2 home-tools text-center">
        <i class="fa fa-group"></i><div class="text">EVENTS</div>
      </div>
      <div class="col-sm-2 home-tools text-center">
        <i class="fa fa-fort-awesome"></i><div class="text">VENUES</div>
      </div>
      <div class="col-sm-2 home-tools text-center">
        <i class="fa fa-music"></i><div class="text">SONGS</div>
      </div>
      <div class="col-sm-2 home-tools text-center">
        <i class="fa fa-calendar"></i><div class="text">CALENDARS</div>
      </div>
      <div class="col-sm-2 home-tools text-center">
        <i class="fa fa-envelope-o"></i><div class="text">ALERTS</div>
      </div>
      <div class="col-sm-2 home-tools text-center">
        <i class="fa fa-microphone"></i><div class="text">GIGS</div>
      </div>
    </div>