<div class="visible-sm-inline visible-md-inline visible-lg-inline">
	<h3 class="title">Stay Connected</h3>
	<ul>
		<li><a href="{{ site.facebook }}"><div class="facebook"></div></a></li>
		<li><a href="{{ site.twitter }}"><div class="twitter"></div></a></li>
		<li><a href="{{ site.instagram }}"><div class="instagram"></div></a></li>
		<li><a href="{{ site.youtube }}"><div class="youtube"></div></a></li>				
	</ul>
</div>


<div class="visible-xs-inline">
	<h3 class="title">Stay Connected</h3>
	<ul>
		<li>
			<a href="{{ site.facebook }}"><div class="facebook"></div></a>
			<a href="{{ site.twitter }}"><div class="twitter"></div></a>
			<a href="{{ site.instagram }}"><div class="instagram"></div></a>
			<a href="{{ site.youtube }}"><div class="youtube"></div></a>
		</li>				
	</ul>
</div>