<div id="banner" class="home">

	<div class="animated fadeInDown">
		<div id="text" class="row">
			<div class="col-sm-12">
				<h1 id="title">GLOBAL ONLINE MUSIC COMMUNITY</h1>
				<h2 id="subtitle">EXPLORE. DISCOVER.ENGAGE</h2>
				<a href="{{ site.app }}/signup" id="signup" class="black">SIGN UP FOR FREE</a>
			</div>
		</div>

		<div id="go-down" class="row animated infinite pulse">
			<div class="col-sm-12 text-center">
				<a href="" class="learn-more"><i class="fa fa-arrow-circle-o-down"></i></a>
			</div>
		</div>
	</div>

</div>